<% if @user.errors.any? %>
<div class='container'>
  <div class='row card-panel'>
    <div id='error_explanation'>
      <div class='alert alert-danger'>
        The form contains <%= pluralize(@user.errors.count, 'error') %>.
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li class='alert_message'><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>