<div class='container aboutme'>
	<div class='row'>
		<div class='col m12 l6'>
			<div class='card-panel'>
				<%= image_tag 'me.jpg', :style => 'width: 100%; height: auto;' %>
			</div>
		</div>
		<div class='col m12 l6'>
			<div class=>
				<h4>About Me</h4>
				<p>
				I’m a hobbyist programmer who decided to change careers from mechanical 
				engineering to software and web development. I came to this decision after realizing 
				that I’m most excited at my current job when I get to create programs that help people 
				do their job’s easier. Since then I’ve immersed myself heavily via online courses, 
				podcasts and personal projects in an attempt to learn as much as humanly possible. 
				I realize my path is not traditional, but I am anxious to learn and become more
				involved in the development community.
				</p>
				<p>
				I spend most of my free time in the mountains either biking, hiking or skiing.
				</p>
			</div>
		</div>
	</div>
</div>