<div class='valign-wrapper'>
	 	<div id='banner-text' class='welcome-banner'>
			<div clas="valign">
	      <h1>Hello, I'm <span class='highlight'>Ryan Cobb</span>. I'm a Web Developer, Mechanical Engineer and Photographer.</h1>
				<div><%= link_to "View My Work", portfolio_path , class: 'waves-effect waves-light btn' %></div>
			</div>
		</div>
	</div>
</div>
