/*
 *= require_self
 *= require_tree .
*/

@import 'materialize/components/color';
$primary-color: color('#ffffff', 'white') !default;
@import 'materialize';

$nav-button-color: rgba(153, 169, 184, .36);
$black: #000;
$accent-color: #8b9bb2;
$blue: #002760;
$purple: #956982;
$alert: #FFDCDC;
$success: #CCFFE3;

.welcome-banner {
  background-image: image-url('jumbotron.jpg');
  background-size: cover;
  height: 600px;
  width: 100%;
  padding: 7%;
}

nav {
  ul {
    li {
      &.active {
        background-color: $nav-button-color;
        }

      &:hover {
        background-color: $nav-button-color;
      }

      a {
        color: $black;
      }
    }
  }

  .brand-logo {
    color: $black;
    padding-left: 20px;

    .logo-letter {
      color: $accent-color;
      font-weight: bold;
    }
  }
}

.btn {
  background-color: $blue;

  &:hover {
    background-color: $purple;
  }
}

#subnav {
  background-color: $alert;
  height: 30px;
  line-height: 30px;

  li {
    a {
      font-size: 12px;
    }
  }
}

.alert {
  margin-top: 15px;
}

.alert-notice {
  background-color: $success;
}

.alert-alert {
  background-color: $alert;
}

.social {
  width: 40px;
}

.mobile-nav-button {
  color: $accent-color;
}

.footer {
  margin-bottom: 0;
}

.login-button {
  margin-top: 20px;
  width: 100%;
}
