@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-4") !default;
@import 'materialize';

nav {
  .brand-logo {
    padding-left: 10px;
    .logo_letter {
      color: #e57373;
      font-weight: bold  
    }
  }
}

#subnav {
  background-color: #b71c1c;
  height: 30px;
  line-height: 30px;

  li {
    a {
      font-size: 12px;
    }
  }
}

.alert-danger {
  color: #b71c1c;
  font-weight: bold;
}

.alert-success {
  color: #26a69a;
  font-weight: bold;
}

.alert_message {
  color: #b71c1c;
}