/*
 *= require_self
 *= require_tree .
*/

@import "materialize/components/color";
$primary-color: color("#ffffff", "white") !default;
@import 'materialize';

nav {
  ul {
    li.active, li:hover  {
      background-color: rgba(153, 169, 184, 0.36);
    }
    a {
      color: black;
    }
  }
  .brand-logo {
    padding-left: 20px;
    color: black;
    .logo_letter {
      color: #8B9BB2;
      font-weight: bold  
    }
  }
}

.btn {
  background-color: #002760;

  &:hover {
    background-color: #956982;
  }
}

#subnav {
  background-color: #b71c1c;
  height: 30px;
  line-height: 30px;

  li {
    a {
      font-size: 12px;
    }
  }
}

.alert-danger {
  color: #b71c1c;
  font-weight: bold;
}

.alert-success {
  color: #26a69a;
  font-weight: bold;
}

.alert_message {
  color: #b71c1c;
}

.social {
  width: 40px;
}
