<% if current_user.try(:admin?) %>
  <nav id='subnav'>
    <div class='row'>
      <ul class='right hide-on-med-and-down'>
        <li><%= link_to 'New Post', new_post_path %></li>
      </ul>
    </div>
  </nav>
<% end %>