<nav>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'>
      <span class='logo_letter'>c</span>yan<span class='logo_letter'>r</span>obb
    </a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      <li><%= link_to 'Blog', posts_path %></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>